---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - cdn.benauro.gg
  resources:
  - contentdeliverynetworks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cdn.benauro.gg
  resources:
  - contentdeliverynetworks/finalizers
  verbs:
  - update
- apiGroups:
  - cdn.benauro.gg
  resources:
  - contentdeliverynetworks/status
  verbs:
  - get
  - patch
  - update
