---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: domainnamesystems.cdn.benauro.gg
spec:
  group: cdn.benauro.gg
  names:
    kind: DomainNameSystem
    listKind: DomainNameSystemList
    plural: domainnamesystems
    singular: domainnamesystem
  scope: Namespaced
  versions:
  - name: v3
    schema:
      openAPIV3Schema:
        description: DomainNameSystem is the Schema for the domainnamesystems API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: DomainNameSystemSpec defines the desired state of DomainNameSystem
            properties:
              foo:
                description: Foo is an example field of DomainNameSystem. Edit domainnamesystem_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: DomainNameSystemStatus defines the observed state of DomainNameSystem
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
